
  html, body {
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    background-color: black;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 2.3vmin;
    color: rgb(18, 177, 240);
    user-select: none;
  }
  
  canvas {
    width: 100%;
    height: 100%;
  }
  
  #FudgeStoryLogo {
    display: block;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
  }
  
  speech {
    position: absolute;
    bottom: 0px;
    left: 0px;
    color: beige;
    background-color: rgba(16, 32, 57, 0.9);
    width: 100%;
    height: 13%;
  }
  
  speech content {
    color: rgb(203, 236, 255);
    font-size: 1.7vmin;
    position: absolute;
    left: 10px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }
  
  name {
    font-size: 2vmin;
    display: block;
    color: rgb(69, 213, 218);
    margin-bottom: 10px;
  }
  
  scene {
    width: 1920px;
    height: 1080px;
    display: inline-block;
    position: absolute;
  }
  
  dialog[type="splash"] {
    background-image: url("Assets/Images/Backgrounds/space.jpg");
    width: 100%;
    height: 100%;
  }
  
  dialog[type="splash"] > p {
    font-size: 2vmin;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
  }
  dialog[type=splash]>img#FudgeStoryLogo {
    width: 100%;
  }

  .decisionHospital[open] {
    background-color: rgba(103, 103, 182, 0.521);
  }

  .decisionDream [open] {
    background-color: rgba(24, 24, 41, 0.521);
  }

  .decisionDream2 [open] {
    background-color: rgba(24, 24, 41, 0.521);
  }

  .Dreamthoughts1 [open] {
    background-color: rgba(15, 36, 22, 0.521);
  }
  .Dreamthoughts2 [open] {
    background-color: rgba(24, 40, 41, 0.521);
  }
  .Dreamthoughts3 [open] {
    background-color: rgba(41, 24, 24, 0.521);
  }

  .menu[open] {
    background-color: rgb(16, 32, 57, 0.9);
  }
  .menu button{
    background-color: darkblue;
    color: rgb(69, 213, 218);
  }

  dialog[type="inventory"] {
    background-color: rgba(16, 32, 57, 0.7);
    border: 2px solid rgb(69, 213, 218);
    border-radius: 5px;
    top: -200px;
  }

  dialog[type="inventory"] > button{
    border: 2px solid darkblue;
    border-radius: 5px;
    background: none;
    color: rgb(69, 213, 218);
    font-size: 15px;
    padding: 10px;
    margin-top: 10px;
  }

  dialog[type="inventory"] img {
    position: absolute;
    left: 20px;
    height: 80px;
    width: 80px;
    -ms-user-select: None;
    -moz-user-select: None;
    -webkit-user-select: None;
    user-select: None;
  }
  dialog[type="inventory"] > ul > li > name{
    width: 200px;
    color: white;
  }
  
  dialog[type="inventory"] > ul > li > amount{
    display: none;
  }
  
  dialog[type="inventory"] > ul > li > description{
    color: white;
  }

  meter::-webkit-meter-bar {
    background-color: #ececec;
  }
  
  meter[id="curiosityMeter"] {
    position: absolute;
    transform:rotate(deg);
    bottom: 12%;
    left: 0%;
    width: 10%;
    height: 5%;
  }
  
  meter[id="curiosityMeter"]::-webkit-meter-optimum-value {
    background-image: linear-gradient(
      90deg,  
      #8bcf69 50%,
      #00eeff 50%,
      #00eeff 95%,
      #ff0000 95%,
      #ff0000 100%
    );
  }